<div>
  <select [(ngModel)]="selectedCsv">
    <option *ngFor="let csv of csvs" [ngValue]="csv">{{ csv }}</option>
  </select>
</div>

<div class="canvas-container">
  <canvas baseChart
          chartType="bar"
          [labels]="labels"
          [data]="data"
          [legend]="false"></canvas>
</div>

<div class="canvas-container">
  <canvas baseChart
          chartType="scatter"
          [labels]="scatterLabels"
          [datasets]="scatterData"
          [legend]="false"></canvas>
</div>

<div>
  <select [(ngModel)]="selectedHeader">
    <option *ngFor="let header of headers" [ngValue]="header">{{ header }}</option>
  </select>
  <select [(ngModel)]="selectedRangeWidth">
    <option *ngFor="let range of ranges" [ngValue]="range">{{ range }}</option>
  </select>

  <input type="checkbox" [(ngModel)]="outlier">

  <button (click)="updatePlot()">Update plot</button>
</div>
