<div class="canvas-container">
  <canvas baseChart
          chartType="bar"
          [labels]="labels"
          [data]="data"
          [legend]="false"></canvas>
</div>

<div>
  <select [(ngModel)]="selectedHeader">
    <option *ngFor="let header of headers" [ngValue]="header">{{ header }}</option>
  </select>
  <select [(ngModel)]="selectedRangeWidth">
    <option *ngFor="let range of ranges" [ngValue]="range">{{ range }}</option>
  </select>

  <button (click)="updatePlot()">Update plot</button>
</div>
